/* Reseteo universal */
* {
	border: 0em;
	margin: 0em;
	padding: 0em;
}

/* Fuentes de la pàgina */
@font-face {
	font-family: "Lobster";
    src: url("../fonts/lobster/Lobster_1.3.otf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Modificación de los estilos de la página */
a {
    margin-top: 0.4em;
    vertical-align: top;
}

a>img {
    text-align: center;
}

body {
    font-family: "Lobster";
}

h3 {
    color: rgb(128, 30, 247);
    margin-left: .5em;
    vertical-align: top;
}

header {
	background-color: rgba(128, 128, 128, 0.15);
    border-bottom: 2px solid;
    border-bottom-color: #000;
    /* box-shadow: 0 2px 0 #757575; */
    max-width: 100%;
    /* text-align: center; */
    /* padding: 1.5em; */
    vertical-align: middle;
}

h1, nav, a {
	display: inline-block;
	text-decoration: none;
	/*vertical-align: middle;*/
}

img {
	margin-left: 1em;
	margin-bottom: .2em;
	margin-top: .2em;
	max-width: 100%;
}

a {
    display: inline-block;
    margin-top: .5em;
    text-align: left;
    vertical-align: top;
}

a {
    color: rgb(128, 30, 247);
    display: inline-block;
    font-family: "Lobster", Arial, Tahoma;
    /*font-size: 1.2em;*/
    padding: 0.2em;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

a:hover {
    border-right: 1px solid;
    border-right-color: rgb(204, 10, 150);
    border-bottom: 1px solid;
    border-bottom-color: rgb(204, 10, 150);
    color: rgb(204, 10, 150);
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#logo, h3 {
    display: inline-block;
}

#logo {
    width: 15%;
}

#menu > select {
    display: block;
}

#name, #eslogan {
    display: block;
    font-size: .5em;
}

.userimg {
    height: auto;
    width: auto;
}

/* GESION DE LOS MODALES PARA LAS IMAGENES */
 /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
} 