<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.prova">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />
    ;

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo256"
        android:label="SnapFit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".PasswordActivity" />
        <activity
            android:name=".Menu_Principal"
            android:label="Snapfit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PopWindow"
            android:theme="@style/AppTheme.CustomThem" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"/>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/ProfileTheme"
            android:label="Edit profile" />
    </application>

</manifest>